
@{
    ViewBag.Title = "EventSingle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="/Content/client/images/backgrounds/background-01-1920-900.jpg">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">Event Page</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="events.html">Events</a></li>
            <li class="active">Event Page</li>
        </ul>
    </div>
</section>
<div class="page-content">
    <!-- Audrey Cafe Evening-->
    <section class="section-90 section-lg-0 text-left">
        <div class="container-wide container-wide-custom">
            <div class="row justify-content-sm-center justify-content-lg-start">
                <div class="col-md-8 col-lg-3 col-xxl-4 section-image-aside section-image-aside-left text-left">
                    <div class="section-image-aside-img d-none d-lg-block" style="background-image: url(/Content/client/images/pages/event-single-01-640x579.jpg); background-position: center center; right: 0;"></div>
                </div>
                <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4 offset-xl-1 offset-top-0 section-lg-120">
                    <hr class="divider hr-left-0 bg-bermuda">
                    <div class="offset-top-20">
                        <h3>Audrey Cafe Evening</h3>
                    </div>
                    <p class="offset-top-20 offset-lg-top-35">Relax and unwind throughout the Summer while sipping on a specially created Audrey 100 Champagne cocktail or a glass of Audrey 100 Punch, designed to help you cool down after a long day of shopping. A traditional English afternoon tea is also offered, alongside a delicious array of macaroni.</p>
                    <div class="h5-variant-2 font-weight-bold font-italic offset-top-25 text-gray">Free Entry</div>
                    <div class="offset-top-25"><a class="btn btn-width-175 btn-primary" href="shop-single.html">book now</a></div>
                </div>
                <div class="col-md-8 col-lg-2 col-xxl-1 offset-xxl-1 section-lg-120 text-center offset-top-60 offset-lg-top-0">
                    <hr class="hr bg-gallery">
                    <div class="offset-top-20"><span class="icon icon-sm-variant-2 mdi mdi-calendar text-bermuda"></span></div>
                    <div class="offset-top-10">
                        <div class="text-small text-gray">Sep, 21</div>
                    </div>
                    <hr class="hr bg-gallery offset-top-20">
                    <div class="offset-top-20"><span class="icon icon-sm-variant-2 mdi mdi-clock text-bermuda"></span></div>
                    <div class="offset-top-10">
                        <div class="text-small text-gray">6:00pm</div>
                    </div>
                    <hr class="hr bg-gallery offset-top-20">
                    <div class="offset-top-20"><span class="icon icon-sm-variant-2 mdi mdi-map-marker text-bermuda"></span></div>
                    <div class="offset-top-10">
                        <div class="text-small text-gray">Audrey Cafe</div>
                    </div>
                    <hr class="hr bg-gallery offset-top-20">
                </div>
            </div>
        </div>
    </section>
    <!-- Other Events-->
    <section class="section-90 section-md-120 bg-selago">
        <div class="container-wide container-wide-custom">
            <hr class="divider bg-bermuda">
            <div class="offset-top-20">
                <h3>Other Events</h3>
            </div>
            <div class="row justify-content-sm-center offset-top-35 offset-lg-top-60">
                <div class="col-md-8 col-xl-4">
                    <!-- Post Event-->
                    <div class="post-event text-left">
                        <div class="post-event-thumbnail-wrap">
                            <!-- Thumbnail Rayen-->
                            <figure class="thumbnail-rayen">
                                <img width="570" height="310" src="~/Content/client/images/blog/post-09-570x310.jpg" alt="">
                                <figcaption><a class="text-white" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-31-1170x759_original.jpg"><span class="icon icon-normal icon-lg mdi mdi-plus"></span></a></figcaption>
                            </figure>
                            <div class="post-event-list">
                                <!-- List-->
                                <ul class="list list-20">
                                    <li class="box-xs bg-accent text-center"><span class="icon icon-normal icon-sm mdi mdi-calendar text-white"></span><span class="d-block offset-top-0"><span class="text-small text-white">Sep, 21</span></span></li>
                                    <li class="box-xs bg-accent text-center"><span class="icon icon-normal icon-sm mdi mdi-clock text-white"></span><span class="d-block offset-top-0"><span class="text-small text-white">6:00pm</span></span></li>
                                    <li class="box-xs bg-accent text-center"><span class="icon icon-normal icon-sm mdi mdi-ticket-account text-white"></span><span class="d-block offset-top-0"><span class="text-small text-white">Free</span></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="offset-top-20 inset-right-10">
                            <h5><a href="event-single.html">The KidsLand Summer Day</a></h5>
                            <div class="offset-top-15">
                                <p>The KidsLand SummerDay will begin on Saturday, July 4, with a special celebration and will run until Sunday, September...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-4 offset-top-60 offset-xl-top-0">
                    <!-- Post Event-->
                    <div class="post-event text-left">
                        <div class="post-event-thumbnail-wrap">
                            <!-- Thumbnail Rayen-->
                            <figure class="thumbnail-rayen">
                                <img width="570" height="310" src="~/Content/client/images/blog/post-10-570x310.jpg" alt="">
                                <figcaption><a class="text-white" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-32-1170x780_original.jpg"><span class="icon icon-normal icon-lg mdi mdi-plus"></span></a></figcaption>
                            </figure>
                            <div class="post-event-list">
                                <!-- List-->
                                <ul class="list list-20">
                                    <li class="box-xs bg-accent text-center"><span class="icon icon-normal icon-sm mdi mdi-calendar text-white"></span><span class="d-block offset-top-0"><span class="text-small text-white">Sep, 21</span></span></li>
                                    <li class="box-xs bg-accent text-center"><span class="icon icon-normal icon-sm mdi mdi-clock text-white"></span><span class="d-block offset-top-0"><span class="text-small text-white">6:00pm</span></span></li>
                                    <li class="box-xs bg-accent text-center"><span class="icon icon-normal icon-sm mdi mdi-ticket-account text-white"></span><span class="d-block offset-top-0"><span class="text-small text-white">Free</span></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="offset-top-20 inset-right-10">
                            <h5><a href="event-single.html">Fashion Day Rock Event</a></h5>
                            <div class="offset-top-15">
                                <p>Chart-topping sensation Pixie Lott will unveil her very own festival-inspired addition to her latest album this Saturday evening...</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-xl-4 offset-top-60 offset-xl-top-0">
                    <!-- Post Event-->
                    <div class="post-event text-left">
                        <div class="post-event-thumbnail-wrap">
                            <!-- Thumbnail Rayen-->
                            <figure class="thumbnail-rayen">
                                <img width="570" height="310" src="~/Content/client/images/blog/post-11-570x310.jpg" alt="">
                                <figcaption><a class="text-white" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-33-1170x731_original.jpg"><span class="icon icon-normal icon-lg mdi mdi-plus"></span></a></figcaption>
                            </figure>
                            <div class="post-event-list">
                                <!-- List-->
                                <ul class="list list-20">
                                    <li class="box-xs bg-accent text-center"><span class="icon icon-normal icon-sm mdi mdi-calendar text-white"></span><span class="d-block offset-top-0"><span class="text-small text-white">Sep, 21</span></span></li>
                                    <li class="box-xs bg-accent text-center"><span class="icon icon-normal icon-sm mdi mdi-clock text-white"></span><span class="d-block offset-top-0"><span class="text-small text-white">6:00pm</span></span></li>
                                    <li class="box-xs bg-accent text-center"><span class="icon icon-normal icon-sm mdi mdi-ticket-account text-white"></span><span class="d-block offset-top-0"><span class="text-small text-white">Free</span></span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="offset-top-20 inset-right-10">
                            <h5><a href="event-single.html">Chevrolet Open Test Drive</a></h5>
                            <div class="offset-top-15">
                                <p>Free and Open Test Drive of The Chevrolet Camaro will be available this weekend at Fashion Day! Feel free to...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

