
@{
    ViewBag.Title = "BlogPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="/Content/client/images/backgrounds/background-01-1920-900.jpg">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">Blog Post</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="blog-classic.html">Blog</a></li>
            <li class="active">Blog Post</li>
        </ul>
    </div>
</section>
<div class="page-content section-90 section-md-120">
    <!-- Blog Post-->
    <div id="fb-root"></div>
    <section class="text-left">
        <div class="inset-xl-left-45 inset-xl-right-45 inset-xxl-left-130 inset-xxl-right-85">
            <div class="container-wide container-wide-custom">
                <div class="row justify-content-sm-center justify-content-xl-end justify-content-xxl-between">
                    <div class="col-md-10 col-lg-8 col-xxl-7">
                        <div class="inset-lg-right-35 inset-xxl-right-0">
                            <h3 class="text-primary">Top 3 Reasons to Visit Fashion Day at Any Season</h3>
                            <ul class="list list-inline list-inline-dashed list-inline-20 text-gray-lighter offset-top-20">
                                <li>2 days ago</li>
                                <li class="font-italic"><a class="text-bermuda" href="#">Articles</a></li>
                                <li><span>by <a class="text-bermuda" href="#">Diana Hawkins</a></span></li>
                            </ul>
                            <div class="offset-top-30"><img class="img-responsive img-responsive-full center-block" src="~/Content/client/images/blog/post-01-960x550.jpg" width="960" height="550" alt=""></div>
                            <div class="offset-top-30">
                                <p>Regardless of what season it is now, there are always plenty of reasons to visit our mall. In this article, we decided to show you the list of Top 3 reasons to visit Fashion Day. to begin with, people usually visit shopping malls to enjoy variety while shopping, for socialization and for entertainment. People also visit malls because they offer one-stop shopping convenience and save time.</p>
                                <p>However, Fashion Day has some additional attractions and reasons to visit it. For example, our mall’s main claim to fame is its sheer size.  An expansion will be opening soon, but for now, we already have a jaw-dropping number of 520 open stores. This means if you decided to spend just 10-minutes in each store, it would take you 86-hours to do it. That’s three and a half days!</p>
                                <p>We also have about 100 events every year that feature celebrity appearances. A recent meet-and-greet with internet personality Tyler Oakley, held in conjunction with the release of his book “Binge,” drew a sell-out crowd.</p>
                            </div>
                            <div class="offset-top-25"><img class="img-responsive img-responsive-full center-block" src="~/Content/client/images/blog/post-08-960x550.jpg" width="960" height="550" alt=""></div>
                            <div class="offset-top-30">
                                <p>The last but not least reason to visit us is the variety of cafes and restaurant we have. Our 50+ restaurants will be glad to offer you an amazingly tasty menu. Rest assured you won’t go hungry at Fashion Day, that’s for sure. And there is always more things to do at your favorite mall, so feel free to visit us at any season. We believe the time you spend here will become one of the best experiences in your life.</p>
                            </div>
                            <div class="offset-top-60 offset-lg-top-90">
                                <hr class="divider hr-left-0 bg-bermuda">
                                <div class="offset-top-15">
                                    <h5 class="text-left">Author</h5>
                                </div>
                            </div>
                            <div class="offset-top-30">
                                <!-- Unit-->
                                <div class="unit unit-xs flex-sm-row flex-column">
                                    <div class="unit-left"><img class="rounded-circle img-responsive" src="~/Content/client/images/users/user-diana-hawkins-160x160.jpg" width="160" height="160" alt=""></div>
                                    <div class="unit-body">
                                        <h6 class="text-left"><a href="#">Diana Hawkins</a></h6>
                                        <div class="offset-top-15">
                                            <p>I am a professional blogger interested in everything taking place in cyberspace. I am running this website and try my best to make it a better place to visit. I post only the articles that are related to the topic and thoroughly analyze all visitors’ comments to cater to their needs better.</p>
                                            <ul class="list-inline list-inline-2 list-primary offset-top-15">
                                                <li><a class="icon icon-xs icon-circle fa fa-facebook text-gray-lighter" href="#"></a></li>
                                                <li><a class="icon icon-xs icon-circle fa fa-twitter text-gray-lighter" href="#"></a></li>
                                                <li><a class="icon icon-xs icon-circle fa fa-pinterest-p text-gray-lighter" href="#"></a></li>
                                                <li><a class="icon icon-xs icon-circle fa fa-vimeo text-gray-lighter" href="#"></a></li>
                                                <li><a class="icon icon-xs icon-circle fa fa-google text-gray-lighter" href="#"></a></li>
                                                <li><a class="icon icon-xs icon-circle fa fa-rss text-gray-lighter" href="#"></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-4 offset-top-90 offset-lg-top-0">
                        <div class="inset-lg-left-30">
                            <!-- Aside-->
                            <aside class="text-left inset-xxl-right-50">
                                <!-- Search the Blog-->
                                <hr class="divider hr-left-0 bg-bermuda">
                                <h5 class="offset-top-15">Search the Blog</h5>
                                <div class="offset-top-25 rd-search-blog">
                                    <!-- RD Search Form-->
                                    <form class="search-form-1 form-search form-search-blog rd-search" action="search-results.html" method="GET">
                                        <div class="form-wrap">
                                            <label class="form-label form-search-label" for="blog-classic-form-search-widget">Search...</label>
                                            <input class="form-input form-search-input form-control null" id="blog-classic-form-search-widget" type="text" name="s" autocomplete="off">
                                        </div>
                                        <div class="form-button">
                                            <button class="btn btn-primary form-search-submit" type="submit">search</button>
                                        </div>
                                    </form>
                                </div>
                                <!-- Archive-->
                                <div class="offset-top-60 offset-lg-top-90">
                                    <hr class="divider hr-left-0 bg-bermuda">
                                    <h5 class="offset-top-15">Archive</h5>
                                    <div class="row justify-content-sm-center offset-top-30">
                                        <div class="col-sm-6">
                                            <div class="inset-sm-left-8">
                                                <!-- List Marked-->
                                                <ul class="list list-marked list-marked-icon text-dark">
                                                    <li><a class="text-primary" href="#">January 2019</a></li>
                                                    <li><a class="text-primary" href="#">March 2019</a></li>
                                                    <li><a class="text-primary" href="#">May 2019</a></li>
                                                    <li><a class="text-primary" href="#">July 2019</a></li>
                                                    <li><a class="text-primary" href="#">September 2019</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 offset-top-10 offset-sm-top-0 inset-sm-left-8">
                                            <!-- List Marked-->
                                            <ul class="list list-marked list-marked-icon text-dark">
                                                <li><a class="text-primary" href="#">February 2019</a></li>
                                                <li><a class="text-primary" href="#">April 2019</a></li>
                                                <li><a class="text-primary" href="#">June 2019</a></li>
                                                <li><a class="text-primary" href="#">August 2019</a></li>
                                                <li><a class="text-primary" href="#">October 2019</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- Gallery-->
                                <div class="offset-top-60 offset-lg-top-90">
                                    <hr class="divider hr-left-0 bg-bermuda">
                                    <h5 class="offset-top-15 text-left">Gallery</h5>
                                    <div class="row justify-content-sm-start no-gutters section-gallery-lg-column-offset offset-top-30" data-lightgallery="group">
                                        <div class="col-md-10 col-lg-12">
                                            <div class="row no-gutters justify-content-sm-start">
                                                <div class="col-sm-4 col-lg-6 col-xl-4 inset-xl-left-13 inset-xl-right-13">
                                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-01-1170x842_original.jpg"><span class="figure"><img width="160" height="160" src="~/Content/client/images/gallery/portfolio-17-640x640.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-plus"></span></span></span></a>
                                                </div>
                                                <div class="col-sm-4 col-lg-6 col-xl-4 inset-xl-left-13 inset-xl-right-13 offset-top-30 offset-sm-top-0">
                                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-23-1170x731_original.jpg"><span class="figure"><img width="160" height="160" src="~/Content/client/images/gallery/portfolio-18-640x640.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-plus"></span></span></span></a>
                                                </div>
                                                <div class="col-sm-4 col-lg-6 col-xl-4 inset-xl-left-13 inset-xl-right-13 offset-top-30 offset-sm-top-0">
                                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-25-1170x780_original.jpg"><span class="figure"><img width="160" height="160" src="~/Content/client/images/gallery/portfolio-19-640x640.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-plus"></span></span></span></a>
                                                </div>
                                                <div class="col-sm-4 col-lg-6 col-xl-4 inset-xl-left-13 inset-xl-right-13 offset-top-30 offset-sm-top-0">
                                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-24-1170x780_original.jpg"><span class="figure"><img width="160" height="160" src="~/Content/client/images/gallery/portfolio-20-640x640.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-plus"></span></span></span></a>
                                                </div>
                                                <div class="col-sm-4 col-lg-6 col-xl-4 inset-xl-left-13 inset-xl-right-13 offset-top-30 offset-sm-top-0">
                                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-27-1170x842_original.jpg"><span class="figure"><img width="160" height="160" src="~/Content/client/images/gallery/portfolio-21-640x640.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-plus"></span></span></span></a>
                                                </div>
                                                <div class="col-sm-4 col-lg-6 col-xl-4 inset-xl-left-13 inset-xl-right-13 offset-top-30 offset-sm-top-0">
                                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-26-1170x807_original.jpg"><span class="figure"><img width="160" height="160" src="~/Content/client/images/gallery/portfolio-22-640x640.jpg" alt=""><span class="figcaption"><span class="icon icon-xs fa-plus"></span></span></span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Categories-->
                                <div class="offset-top-60 offset-lg-top-90">
                                    <hr class="divider hr-left-0 bg-bermuda">
                                    <h5 class="offset-top-15">Categories</h5>
                                </div>
                                <div class="offset-top-30">
                                    <div class="inset-sm-left-8">
                                        <!-- List Marked-->
                                        <ul class="list list-marked list-marked-icon">
                                            <li><a class="text-primary" href="#">News <span class="text-gray-lighter">(25)</span></a></li>
                                            <li><a class="text-primary" href="#">Shops <span class="text-gray-lighter">(17)</span></a></li>
                                            <li><a class="text-primary" href="#">Restaurants & Cafes <span class="text-gray-lighter">(13)</span></a></li>
                                            <li><a class="text-primary" href="#">Entertainment <span class="text-gray-lighter">(21)</span></a></li>
                                            <li><a class="text-primary" href="#">Events <span class="text-gray-lighter">(29)</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Tags-->
                                <div class="offset-top-60 offset-lg-top-90">
                                    <hr class="divider hr-left-0 bg-bermuda">
                                    <h5 class="offset-top-15">Tags</h5>
                                </div>
                                <div class="offset-top-30">
                                    <div class="group group-sm"><a class="btn btn-tag btn-primary-outline" href="shops.html">Shops</a><a class="btn btn-tag btn-primary-outline" href="entertainment.html">Entertaiment</a><a class="btn btn-tag btn-primary-outline" href="blog-classic.html">Blog</a><a class="btn btn-tag btn-primary-outline" href="gift-cards.html">Fashion</a><a class="btn btn-tag btn-primary-outline" href="food.html">Cafe</a><a class="btn btn-tag btn-primary-outline" href="entertainment.html">Services</a><a class="btn btn-tag btn-primary-outline" href="parking.html">Parking</a><a class="btn btn-tag btn-primary-outline" href="blog-masonry.html">Articles</a></div>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

