
@{
    ViewBag.Title = "Directions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="/Content/client/images/backgrounds/background-01-1920-900.jpg">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">Directions</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Directions</li>
        </ul>
    </div>
</section>
<div class="page-content">
    <!-- Directions-->
    <section class="section-hidden text-left">
        <div class="container-wide">
            <div class="row justify-content-sm-center justify-content-xl-between">
                <div class="col-md-10 col-xl-5 section-top-60 section-sm-bottom-60 section-lg-top-120 section-lg-bottom-120">
                    <div class="inset-lg-left-10 inset-xl-left-45 inset-xxl-left-85">
                        <!-- Unit-->
                        <div class="unit flex-row unit-spacing-xs">
                            <div class="unit-left"><span class="icon icon-lg icon-normal mdi mdi-car text-primary"></span></div>
                            <div class="unit-body">
                                <div class="offset-top-10">
                                    <h5>By Car</h5>
                                    <hr class="divider hr-left-0 bg-bermuda offset-top-15">
                                </div>
                            </div>
                        </div>
                        <div class="offset-top-20">
                            <p>If driving from the West, From the Gardiner Expressway East, exit at Bay St/York St exit and head north on Yonge. Parking is available at the Yonge & Shuter parkade, or the Bay & Dundas Parkade.</p>
                            <p>If driving from the East, take the Don Valley Pkwy S. Exit toward Richmond Street/Downtown and take Richmond St. E to Yonge St. Parking. Please contact us if you need additional information on our location.</p>
                        </div>
                        <!-- Unit-->
                        <div class="unit flex-row unit-spacing-xs offset-top-50">
                            <div class="unit-left"><span class="icon icon-lg icon-normal mdi mdi-bus text-primary"></span></div>
                            <div class="unit-body">
                                <div class="offset-top-10">
                                    <h5>By Coach</h5>
                                    <hr class="divider hr-left-0 bg-bermuda offset-top-15">
                                </div>
                            </div>
                        </div>
                        <div class="offset-top-20">
                            <p>Audrey Mall is conveniently located one block from Toronto's main Bus Terminal. Bus transportation to other cities within North America is provided through several Intercity Bus companies operating out of this station. You can get more info from the San Diego Coach Terminal facilities.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-xl-6 offset-top-90 offset-md-top-0 rd-google-map-fullwidth-wrap inset-left-0 inset-right-0 inset-lg-left-15 inset-lg-right-15">
                    <!-- Google Map-->
                    <div class="google-map-container rd-google-map-fullwidth rd-google-map-fullheight" data-center="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-styles="[{&quot;featureType&quot;:&quot;landscape.natural&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;},{&quot;color&quot;:&quot;#e0efef&quot;}]},{&quot;featureType&quot;:&quot;poi&quot;,&quot;elementType&quot;:&quot;geometry.fill&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;},{&quot;hue&quot;:&quot;#1900ff&quot;},{&quot;color&quot;:&quot;#c0e8e8&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;lightness&quot;:100},{&quot;visibility&quot;:&quot;simplified&quot;}]},{&quot;featureType&quot;:&quot;road&quot;,&quot;elementType&quot;:&quot;labels&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;off&quot;}]},{&quot;featureType&quot;:&quot;transit.line&quot;,&quot;elementType&quot;:&quot;geometry&quot;,&quot;stylers&quot;:[{&quot;visibility&quot;:&quot;on&quot;},{&quot;lightness&quot;:700}]},{&quot;featureType&quot;:&quot;water&quot;,&quot;elementType&quot;:&quot;all&quot;,&quot;stylers&quot;:[{&quot;color&quot;:&quot;#7dcdcd&quot;}]}]">
                        <div class="google-map google-map-full"></div>
                        <ul class="google-map-markers">
                            <li data-location="9870 St Vincent Place, Glasgow, DC 45 Fr 45." data-description="9870 St Vincent Place, Glasgow" data-icon="~/Content/client/images/gmap_marker.png" data-icon-active="~/Content/client/images/gmap_marker_active.png"></li>
                            <li data-location="University of Strathclyde, Richmond Street, Glasgow, UK" data-description="University of Strathclyde, Richmond Street" data-icon="~/Content/client/images/gmap_marker.png" data-icon-active="~/Content/client/images/gmap_marker_active.png"></li>
                            <li data-location="genting casino near Glasgow, UK" data-description="genting casino near Glasgow" data-icon="~/Content/client/images/gmap_marker.png" data-icon-active="~/Content/client/images/gmap_marker_active.png"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

