
@{
    ViewBag.Title = "GalleryMasonry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="@ViewBag.Banner.Image">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">@ViewBag.Banner.description</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
   
            <li class="active">Gallery Masonry</li>
        </ul>
    </div>
</section>
<div class="page-content section-60 section-md-120">
    <section>
        <div class="container-wide">
            <div class="isotope-wrap isotope-offset-30">
                <div class="row">
                    <!-- Isotope Content-->
                    <div class="col-xl-12 offset-top-120">
                        <div class="isotope" data-isotope-layout="masonry" data-isotope-group="gallery">
                            <div class="row" data-lightgallery="group">
                                @foreach (var item in ViewBag.Gallery)
                                {

                                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="*">
                                        <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="@item.image">
                                            <figure>
                                                <img src="@item.image" alt="">
                                                <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                            </figure>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

