
@{
    ViewBag.Title = "GalleryMasonry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumbs-->
<section class="section-height-800 breadcrumb-modern parallax-container context-dark bg-gray-darkest d-none d-lg-block" data-parallax-img="/Content/client/images/backgrounds/background-01-1920-900.jpg">
    <div class="parallax-content">
        <div class="bg-overlay-darker">
            <div class="container-wide section-34 section-md-60 section-lg-top-130 section-lg-bottom-155">
                <div class="d-none d-lg-block">
                    <div class="h1 breadcrumbs-custom-title">Gallery Masonry</div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section-34 bg-selago">
    <div class="container">
        <ul class="list-inline list-inline-12 list-inline-icon breadcrumbs-list">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Pages</a></li>
   
            <li class="active">Gallery Masonry</li>
        </ul>
    </div>
</section>
<div class="page-content section-60 section-md-120">
    <section>
        <div class="container-wide">
            <div class="isotope-wrap isotope-offset-30">
                <div class="row">
                    <!-- Isotope Filters-->
                    <div class="col-xl-12">
                        <div>
                            <div class="isotope-filters isotope-filters-horizontal isotope-filters-gallery">
                                <ul class="list-inline list-inline-sm d-lg-block inset-md-left-15 inset-md-right-15">
                                    <li class="d-block d-sm-inline-block d-lg-none">
                                        <p>Choose your category:</p>
                                    </li>
                                    <li class="section-relative offset-top-20 offset-sm-top-0 d-block d-sm-inline-block d-lg-block">
                                        <button class="isotope-filters-toggle btn btn-primary-outline" data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true">Filter<span class="caret"></span></button>
                                        <ul class="list-sm-inline isotope-filters-list d-lg-block" id="isotope-1">
                                            <li><a class="active" data-isotope-filter="*" data-isotope-group="gallery" href="#">All</a></li>
                                            <li><a data-isotope-filter="Type 1" data-isotope-group="gallery" href="#">Type 1</a></li>
                                            <li><a data-isotope-filter="Type 2" data-isotope-group="gallery" href="#">Type 2</a></li>
                                            <li><a data-isotope-filter="Type 3" data-isotope-group="gallery" href="#">Type 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Isotope Content-->
                    <div class="col-xl-12 offset-top-120">
                        <div class="isotope" data-isotope-layout="masonry" data-isotope-group="gallery">
                            <div class="row" data-lightgallery="group">
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="*">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-01-1170x842_original.jpg">
                                        <figure>
                                            <img width="420" height="590" src="~/Content/client/images/gallery/portfolio-01-420x590.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 3">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-02-1170x780_original.jpg">
                                        <figure>
                                            <img width="420" height="280" src="~/Content/client/images/gallery/portfolio-02-420x280.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 2">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-03-1170x962_original.jpg">
                                        <figure>
                                            <img width="420" height="280" src="~/Content/client/images/gallery/portfolio-03-420x280.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 1">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-04-1170x780_original.jpg">
                                        <figure>
                                            <img width="420" height="590" src="~/Content/client/images/gallery/portfolio-04-420x590.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 1">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-06-1170x778_original.jpg">
                                        <figure>
                                            <img width="420" height="590" src="~/Content/client/images/gallery/portfolio-06-420x590.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 2">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-07-1170x781_original.jpg">
                                        <figure>
                                            <img width="420" height="280" src="~/Content/client/images/gallery/portfolio-07-420x280.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 1">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-05-1170x781_original.jpg">
                                        <figure>
                                            <img width="420" height="280" src="~/Content/client/images/gallery/portfolio-05-420x280.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 3">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-08-1170x656_original.jpg">
                                        <figure>
                                            <img width="420" height="280" src="~/Content/client/images/gallery/portfolio-08-420x280.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 2">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-11-1170x780_original.jpg">
                                        <figure>
                                            <img width="420" height="590" src="~/Content/client/images/gallery/portfolio-11-420x590.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 1">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-09-1170x781_original.jpg">
                                        <figure>
                                            <img width="420" height="280" src="~/Content/client/images/gallery/portfolio-09-420x280.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 2">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-10-1170x842_original.jpg">
                                        <figure>
                                            <img width="420" height="280" src="~/Content/client/images/gallery/portfolio-10-420x280.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                                <div class="col-12 col-md-6 col-lg-4 col-xl-3 isotope-item" data-filter="Type 3">
                                    <!-- Thumbnail Rayen--><a class="thumbnail-rayen" data-lightgallery="item" href="~/Content/client/images/gallery/portfolio-12-1170x807_original.jpg">
                                        <figure>
                                            <img width="420" height="280" src="~/Content/client/images/gallery/portfolio-12-420x280.jpg" alt="">
                                            <figcaption><span class="icon icon-normal icon-lg mdi mdi-plus"></span></figcaption>
                                        </figure>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

