
@{
    ViewBag.Title = "Success";
    Layout = null;
}

<html>
<head>
    <title>Cinema - Payment Success</title>
    <link rel="shortcut icon" href="@ViewBag.favicon" type="image/x-icon">
    <link href="~/Content/client/css/paymentAlert.css" rel="stylesheet" />
</head>

<body style="background-image: url('/Content/client/assets/images/background/cinema-bg.jpg'); ">
    <div class="card">
        <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
            <i class="checkmark">✓</i>
        </div>

        <h1>Payment Success</h1>
        <p>Check your email for a booking<br /> confirmation. We'll see you soon!</p>
        <a href="@Url.Action("Index","Home")" class="btn-back">Back to home page</a>
    </div>
</body>
</html>

