
@{
    Layout = null;
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>500</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="~/Content/client/js/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script>
    <link rel="icon" href="~/Content/client/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Sans:400,700%7CMontserrat:400,700%7CPlayfair+Display:400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="~/Content/client/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/client/css/fonts.css">
    <link rel="stylesheet" href="~/Content/client/css/style.css">
</head>
<body>
    
    <div class="page text-center">
        <!-- Page Content-->
        <main class="page-content" style="background: url(/Content/client/images/backgrounds/background-05-1920-710.jpg) center/cover no-repeat">
            <div class="one-page bg-overlay-darker">
                <div class="section-relative">
                    <div class="one-page-header"></div>
                    <!-- 503-->
                    <section style="min-height: 620px;">
                        <div class="container-wide">
                            <div class="row justify-content-center align-items-center section-cover section-60 no-gutters" style="width: 100%;">
                                <div class="col-sm-12 col-md-10 col-xl-4">
                                    <div class="font-monospace text-big-84 text-ubold text-white">500</div>
                                    <h3 class="text-white offset-top-40">Sorry!<br class="d-none d-lg-inline-block"> Internet Server Error</h3>
                                    <hr class="divider bg-bermuda offset-top-20">
                                    <p class="offset-top-30 text-gray-lighter"> The server encountered an internal error or misconfiguration <br class="d-none d-xxl-inline-block"> and was unable to complete your request </p>
                                    <div class="offset-top-30"><a class="btn btn-xs btn-primary" href="index.html">back to home page</a></div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </main>
    </div>


    <script src="~/Content/client/js/core.min.js"></script>
    <script src="~/Content/client/js/script.js"></script>
    <!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-P9FT69');</script><!-- End Google Tag Manager -->
</body>
</html>
